<h1>All Countries</h1>
<% @countries.each do |country| %>
  <h2>Name: <%= country.name %></h2>
  <h3>Capital: <%= country.capital %></h3>
  <p>Founded: <%= country.founded %></p>
  <a href="/countries/<%= country.id %>">More info</a>
<% end %>